<header>
  <a role="button" href="/">Sawwit</a>
  <a role="button" href="/posts">Home</a>
  <a role="button" href="/subs/list">Subgroups</a>
</header>
<main>
  <div class="authOptions">
    <h1>Edit Post</h1>
    <a role="button" href="/posts">Back to Home</a>
  </div>
  <div>
    <form action=<%="/posts/edit/" + post.id %> method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Title" value="<%= post.title %>" />
      <label for="subgroup">Subgroup</label>
      <input type="text" name="subgroup" id="subgroup" placeholder="Subgroup" value="<%= post.subgroup %>" />
      <label for="link">Link</label>
      <input type="url" name="link" id="link" placeholder="Link" value="<%= post.link %>" />
      <label for="description">Description</label>
      <textarea name="description" id="description" placeholder="Description"
        rows="4"><%= post.description %></textarea>
      <button type="submit">Update</button>
    </form>
  </div>
</main>