<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <!-- <p>Implement this page yourself. It is from individualPost.ejs</p> -->
        <!-- added by PK on 2023 11 10 3:53PM -->
        <p>Posted by <strong><%= post.creator.uname %></strong> on <%= timestamp.toString() %></p>
        <h2><%= post.title %></h2>
        <p>Votes: <%= post.votes.length %></p>
        <h3>Subgroup: <%= post.subgroup %></h3>
        <p><%= post.description %></p>
        <p><strong>Link:</strong> <a href=<%= post.link %>><%= post.link %></a></p>
      </div>

      <div>
        <% if (canEdit) { %>
          <a role="button" href=<%= "/posts/edit/" + post.id %>>Edit Post</a>
          <a role="button" href=<%= "/posts/deleteconfirm/" + post.id %>>Delete Post</a>
        <% } %>
      </div>


      <h3>Comments</h3>
    </main>
  </body>
</html>
