<header>
  <a role="button" href="/posts">Home</a>
  <% if (!user) { %>
    <a role="button" href="/auth/login">Login</a>
    <a role="button" href="/users/">Signup</a>
    <% } else { %>
      <a role="button" href="/auth/logout">Logout</a>
      <% } %>
</header>
<div class="authOptions">
  <h1>Homepage</h1>

</div>
<h2>Welcome, <%= user?.uname || "Visitor" %>
</h2>
<div>
  <p>All Posts</p>
  <% posts.forEach(post=> { %>
    <div class="individualPost">
      <a href="/posts/show/<%=post.id%>">
        <%= post.title %>
      </a>
      <p>Posted by <strong>
          <%= post.username %>
        </strong></p>
      <p>
        <%= post.description %>
      </p>
    </div>
    <% }) %>
</div>

<div>
  <a href="/subs/list">Subgroups</a>
</div>

<% if (user) { %> <!-- added by PK on 2023 11 7 8:40PM -->
  <div>
    <a role="button" href="/posts/create">Create Post</a>
  </div>
  <% } %>
    <p style="color: rgb(197, 172, 172)">
      😦 Heads up...you probably want to hide the Create Post button above for
      non-logged-in users!
    </p>