<h2>Hello, <%= user?.uname || "Visitor" %>
</h2>
<h3>Welcome to Sawwit, the face page of the internet.</h3>
<div>
  <p>Showing posts in subgroup: <%= subName %></p>
  Sort by:
  <% if (sortBy==="top" ) { %>
    Top
    <% } else { %>
      <a href=<%="/subs/show/" + subName + "?sortBy=top" %>>Top</a>
      <% } %>
        <% if (sortBy==="hot" ) { %>
          | Hot
          <% } else { %>
            | <a href=<%="/subs/show/" + subName + "?sortBy=hot" %>>Hot</a>
            <% } %>
              <% if (sortBy==="controversial" ) { %>
                | Controversial
                <% } else { %>
                  | <a href=<%="/subs/show/" + subName + "?sortBy=controversial" %>>Controversial</a>
                  <% } %>
                    <% if (sortBy==="date" ) { %>
                      | Date
                      <% } else { %>
                        | <a href=<%="/subs/show/" + subName + "?sortBy=date" %>>Date</a>
                        <% } %>
                          <table>
                            <% posts.forEach(post=> { %>
                              <tr class="individualPost">

                                <td class="individualVotes" id=<%= post.id %>>
                                  <% if (user) { %>
                                    <% let index = post.votes.findIndex(vote => vote.user_id === user.id) %>
                                    <a <% if (index !== -1 && post.votes[index].value === 1) { %>
                                      class="arrow voted up" 
                                      <% } else { %>
                                        class="arrow up" 
                                    <% } %> vote-value=1 id=<%= "up" + post.id %> post-id=<%= post.id %> ></a><br>
                                    <% } else { %>
                                      <span class="arrow up disabled"></span>
                                      <% } %>
                                      <span id=<%= "score"+post.id %>><%= post.score %></span><br>
                                        <% if (user) { %>
                                          <% let index = post.votes.findIndex(vote => vote.user_id === user.id) %>
                                          <a <a <% if (index !== -1 && post.votes[index].value === -1) { %>
                                            class="arrow voted down" 
                                            <% } else { %>
                                              class="arrow down" 
                                          <% } %>  vote-value=-1 id=<%= "down" + post.id %> post-id=<%= post.id %> ></a>
                                          <% } else { %>
                                            <span class="arrow down disabled"></span>
                                            <% } %>
                                </td>
                                <td class="individualContents">
                                  <a href="/posts/show/<%=post.id%>">
                                    <%= post.title %>
                                  </a> <a href=<%="/subs/show/" + post.subgroup %> class="subgroupLink">(subgroup.<%=
                                      post.subgroup %>)</a><br>
                                  <span class="userDescription">Posted by <strong>
                                      <%= post.creator.uname %>
                                    </strong> on <%= new Date(post.timestamp).toString() %>
                                </td>
                              </tr>
                              <% }) %>
                          </table>
</div>

<script>
  var voteLinks = document.querySelectorAll('.arrow');

  voteLinks.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();

          var voteValue = link.getAttribute('vote-value');
          var postId = link.getAttribute('post-id');

          fetch('/posts/vote/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  voteValue: voteValue,
                  postId: postId,
              }),
          })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => {
            document.getElementById("score"+postId).innerHTML = `${data.score}`;
            if (data.userVote.value == 1) {
              document.getElementById("up"+postId).className = "arrow voted up";
              document.getElementById("down"+postId).className = "arrow down";
            }
            else if (data.userVote.value == -1) {
              document.getElementById("up"+postId).className = "arrow up";
              document.getElementById("down"+postId).className = "arrow voted down";
            }
            else {
              document.getElementById("up"+postId).className = "arrow up";
              document.getElementById("down"+postId).className = "arrow down";
            }
          })
          .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
          });
      });
  });
</script>