<header>
  <a role="button" href="/posts">Home</a>
</header>
<div class="authOptions">
  <h1>Sub Posts : <%= subName %>
  </h1>
</div>
<div>
  <p>All Posts</p>
  Sort by: 
  <% if (sortBy === "top") { %>
    Top
   <% } else { %>
    <a href=<%= "/subs/show/" + subName + "?sortBy=top" %>>Top</a> 
  <% } %>
  <% if (sortBy === "hot") { %>
    | Hot
   <% } else { %>
    | <a href=<%= "/subs/show/" + subName + "?sortBy=hot" %>>Hot</a> 
  <% } %>
  <% if (sortBy === "controversial") { %>
    | Controversial
   <% } else { %>
    | <a href=<%= "/subs/show/" + subName + "?sortBy=controversial" %>>Controversial</a> 
  <% } %>
  <% if (sortBy === "date") { %>
    | Date
   <% } else { %>
    | <a href=<%= "/subs/show/" + subName + "?sortBy=date" %>>Date</a>
  <% } %>
  <table>
    <% posts.forEach(post=> { %>
    <tr class="individualPost">

      <td class="individualVotes">
        <a class="arrow up"></a><br>
        <%= post.score %><br>
        <a class="arrow down"></a>
      </td>
      <td class="individualContents">
        <a href="/posts/show/<%=post.id%>">
          <%= post.title %>
        </a> <a href=<%= "/subs/show/" + post.subgroup %> class="subgroupLink">(subgroup.<%= post.subgroup %>)</a><br>
        <span class="userDescription">Posted by <strong>
              <%= post.creator.uname %>
            </strong> on <%= new Date(post.timestamp).toString() %>
      </td>
    </tr>
    <% }) %>
  </table>
</div>